body {
  background-color: #dddbf1;
}

#NavBar {
  background-color: #1e6153;
  padding: 0;
  min-height: 100vh;
}
#NavBar a {
  background-color: #1e6153;
  color: #dddbf1;
  height: 60px;
  margin: 0;
}
#NavBar a.active {
  background-color: #dddbf1;
  color: #1e6153;
}
#NavBar a:hover {
  background-color: #dddbf1;
  color: #1e6153;
}
h1 {
  color: #1e6153;
}
.card {
  background: #1e6153;
  color: #dddbf1;
}
.card button {
  background: #5bbf77;
  color: #dddbf1;
}
